.inner_menu {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
}
.block_logo {
    display: flex;
    align-items: center;
}
.inner_menu ul {
    display: flex;
    list-style: none;
    gap: 36px;
}
.inner_menu ul li h3 {
    color: #333333;
    font-weight: 600;
    font-size: 22px;
}
.block_logo div {
    padding-left: 10px;
}
.inner_menu input {
    position: relative;
    left: 85px;
    width: 282px;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: blue;
} 
.nemu_search {
    position: relative;
    right: 18px;
    top: 1px;
}
.inner_menu button {
    width: 188px;
    height: 50px;
    background-color: #2D9CDB;
    color: #ffffff;
    border-radius: 40px;
    font-size: 16px;
}
.menu_info div {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
}
.menu_info span {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}

.inner_home {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.home_mainPick {
    width: 1346px;
    height: 740px;
    background: url(/img/Rectangle\ 301.jpg);
    border-radius: 10px;
}
.home_secondPick {
    width: 435px;
    height: 360px;
    background: url(/img/Rectangle\ 319.jpg);
    border-radius: 10px;
}
.home_thirdPick {
    width: 435px;
    height: 360px;
    background: url(/img/Rectangle\ 321.jpg);
    border-radius: 10px;
}
.home_twoPick {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home_mainPick h1 {
    padding-top: 170px;
    padding-left: 77px;
    color: rgba(255, 255, 255, 1);
    font-size: 43px;
    width: 640px;
}
.home_mainPick div {
    padding-left: 77px;
    margin-top: 24px;
    width: 545px;
}
.home_mainPick div span {
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
}
.home_mainPick button {
    margin-left: 77px;
    margin-top: 20px;
    width: 173px;
    height: 50px;
    background-color: rgba(45, 156, 219, 1);
    color: #ffffff;
    border-radius: 40px;
    font-size: 16px;
}
.home_click_btn {
    position: relative;
    top: 335px;
}

.home_click_btn2{
    position: relative;
    left: 1295px;
    top: 335px;
}

.home_mainPick {

}